.table-first {
    background-color: cornflowerblue;
}

.table-second {
    background-color: #9cb8ec;
}

.table-third {
    background-color: #cfd9ec;
}

.table-choose {
    background-color: palevioletred;
}
