.App {
  text-align: center;
  color: blue;
}




@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bg-main {
  background-color: #e2ecee;
}

.text-main {
  color: #404241;
}

.text-additional {
  color: #a3aab0;
}

.bg-bright {
  background-color: #ea2249;
}

.text-bright {
  color: #ea2249;
}

.card-no-border {
  border-color: white;
}

.border {
  border-color: #0f5132;
}

.clicable:hover {
  cursor: pointer;
}

.clicable-text:hover {
  cursor: pointer;
  text-decoration: underline;
}

.text-small {
  font-size: 95%;
}
