.input-small {
    font-size: 80%;
}

.auth-form-body {
    margin-left: -100px;
    margin-top: 10px;
}

.form-login-input {
    margin-left: 12px;
}

.form-mail-input {
    margin-left: 10px;
}

.form-button {
    color: white;
}
